/* https://www.transparenttextures.com  http://subtlepatterns.com */

body {
	text-align: center;
	background-color: #e6e6e6;
	background-image: url("pict/sei.png");
	background-size: cover;
	background-position: 1px 1px;
	background-attachment: scroll;
}

.first {
	margin: 0 auto;
	width: 960px;
	outline: 1px solid red;
}


/*
h1 {
    font-size: 138px; 
    font-family: Courier, monospace; 
    font-style: italic; color: #785814;
} 
*/

h2 {
	font-size: 40px;
	font-family: Courier, monospace;
	color: olivedrab;
}

.mpic {
	float: left;
	padding: 30px;
}

.mpic2 {
	float: right;
	margin: 10px;
}

.rightpic {
	float: right;
}

.point {
	display: inline-block;
	height: 13px;
	width: 13px;
	background-image: url(pic/sprite1.png);
	background-position: 0 0;
}

.item {
	width: 150px;
	height: 150px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.pdiv1 {
	outline: 0px solid orange;
	height: 200px;
	text-align: right;
	background-color: #ffffff;
	background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
}

.pdiv2 {
	padding-top: 20px;
	background-color: #ffffff;
	background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
}

.pdiv3 {
	padding-top: 20px;
	background-color: #ffffff;
	background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
}

.pdiv4 {
	padding-top: 20px;
	background-color: #ffffff;
	background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
}

.pdiv5 {
	padding-top: 20px;
	background-color: #ffffff;
	background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
}

.pdiv6 {
	padding-top: 20px;
	background-color: #ffffff;
	background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
}

.adminka {
	background-color: aqua;
	width: 75px;
	height: 150px;
	position: fixed;
	top: 50%;
	left: 0;
	margin-top: -75px;
	transition: left .4s linear 1s;
	cursor: pointer;
}

.adminka:hover {
	left: 400px;
}

.adminpanel {
	position: absolute;
	background-color: gray;
/*	background: linear-gradient(40deg, red, blue);*/
	background: repeating-linear-gradient(45deg, yellow);
	width: 400px;
	height: 400px;
	transition: right;
	top: -125px;
	right: 75px;
	cursor: help;
}


/*
.adminpanel:hover {
	width: 200px;
}*/


/*

.seti  {display: inline-block; height: 75px; width: 75px; background-image: url(pic/sprite.png); float: left;}


p {font-size: 20px;}


h1, h2, p {text-align: center;}


#ddd p {background-color: aqua}
#ddd > p {background-color: blue}

#ddd ~ p {background-color: green;}


.qwe { color: palevioletred;}
body {text-align: center; font: 16px/20px "times new roman", serif;}
#qwsa {list-style-type: circle; list-style-image: url(pic/ok.png); }
#gr2 {color: greenyellow;}


#qwsa {list-style-type: circle; list-style-position: inside;}


li {color: red; text-align: center;}
li span {color: greenyellow}


body {text-align: center; color: blue; background-color: aquamarine; background-image: url(pict/vse.jpg); background-size: cover; background-position: 1px 1px ; background-attachment: scroll;} 
#qqq {color: blue; background-color: aquamarine; background-image: url(pict/vse.jpg); background-size: contain; background-position: center ; background-attachment: local;} 


#gr {color: coral; text-align: center; text-decoration: underline; background-image: url(pict/all2.png); text-transform: lowercase; text-transform: capitalize; text-indent: 100px; overflow-y: scroll;}
#gr2 {font-variant: small-caps;}
a:link {color: chocolate;}
a:visited {color: black;}
a:hover {color: brown;}
a:active {color: cyan;}


.asd {
    border: 1px solid blue;
    width: 250px;
    padding: 20%;
    display: inherit;
    
}

#ddd p {background-color: aqua}
#ddd > p {background-color: blue}

#ddd ~ p {background-color: green;}


.qwe { color: palevioletred;}


.qw {
    border: 1px solid black; 
    overflow: hidden;
    }
.qwe {
     border: 2px solid green; 
    display: inline-block;
    vertical-align: middle;
    
}
.clearfix {
  clear: both;  // отменяет обтекание
    
}
.we {
    padding: 15%;
background: aquamarine;
    color: red;
    }
.we:hover 
   {
    background: red;
    color: green;
}

*/