/*
.d1 {
    width: 960px;
    height: 700px;
    border: 1px solid #bfbfbf;
    margin-left: 10px;
    margin-top: 10px;
    position: relative;
    border-radius: 25px;
}
.d2 {
    width: 200px;
    height: 200px;    
    border: 1px solid #bfbfbf;
    border-radius: 25px;
    margin-left: 20px;
    margin-top: 20px;
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 100px;
}*/

body {
    margin: 0 auto;
    background-color: #efefef;
    width: 1004px;
    font: 13px Arial, monospace;
    font-style: normal;
}

.d1 {
    width: 924px;
    background-color: white;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    margin: auto;
    margin-top: 50px;
    position: relative;
    padding: 10px;
}

.pict {
    float: left;
    margin-left: 50px;
    margin-top: 10px;
}

.p1 {
    width: 541px;
    float: right;
    background-color: #e6e6e6;
    padding: 20px;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
}

.p1:h2 {
    float: right
}

.p1:p {
    text-align: center;
}

.butt {
    text-align: center;
    clear: both;
    padding: 20px;
}

.butt:hover {
    color: gray;
}

.point1 {
    display: inline-block;
    height: 23px;
    width: 32px;
    background: url(pic/slider_navi.png) 0 0;
    float: left;
    margin-left: 5px;
    margin-bottom: 5px;
    background-position: 0px 0px;
    left: 5px;
    bottom: 5px;
    position: relative;
}

.point2 {
    display: inline-block;
    height: 23px;
    width: 32px;
    background: url(pic/slider_navi.png) 32px 0;
    float: right;
    margin-right 5px;
    margin-bottom: 5px;
    right: 5px;
    bottom: 5px;
    position: relative;
}